@use "../variables/variables";

@mixin strips {
  height: 5px;
  width: 100%;
  background-color: variables.$strips-color;
}

// border-radius;

@mixin borderRadius(
  $top-left: 0,
  $top-right: 0,
  $bottom-right: 0,
  $bottom-left: 0
) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin borderFull {
  border-radius: 50%;
}
