//colors
$bg-color: #a5c9ca;
$primary-color: #763d22;
$secondary-color: #2d2d2b;
$strips-color: #ebe0c0;
$circle-color: #090000;
$meter-wrapper-color: #a37c5b;
$meter-color: #444b44;

//border-radius
